.mainFooterRu {
    display: flex;
    width: 80%;
    height: 150px;
    background-color: rgba(46, 139, 87, 0.5);
}

.tableFooterRu {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    width: 100%;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    margin-left: 3%;
}

.tableFooterRuCell {
    display: flex;
    width: 30%;
    align-items: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.75);
}