.root {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 150px);
    width: 100%;
    background-color: white;
}

.squareLeft {
    display: flex;
    flex-direction: column;
    min-height: 30%;
    width: 30%;
    background-color: wheat;
    margin: 1%;
}

.squareCenter {
    display: flex;
    flex-direction: column;
    min-height: 30%;
    width: 30%;
    background-color: wheat;
    margin: 1%;
}

.squareRight {
    display: flex;
    flex-direction: column;
    min-height: 30%;
    width: 30%;
    background-color: wheat;
    margin: 1%; 
}